.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.team-list-container {
  width: 90%;
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .team-list-container {
    width: 90%;
    max-width: 1100px;
  }
}

.ipl-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 25px;
  height: 40px;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
    margin-right: 16px;
  }
}

.ipl-title {
  color: #ffffff;
  font-family: Bree serif;
  font-size: 34px;
}

@media screen and (min-width: 768px) {
  .ipl-title {
    font-size: 72px;
  }
}

.render-teamlist-container {
  width: 100%;
}

.team-lists-container {
  width: 100%;
  padding-left: 0px;
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
